/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    color: #007BFF;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Weather Info Styles */
.weather-info {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.weather-info h2 {
    margin-top: 0;
    color: #007BFF;
}

.temperature {
    font-size: 18px;
}

.weather-description {
    font-size: 16px;
    margin-top: 10px;
}
